<h1>Log In Below:</h1>
<ul>
    <form action="/sessions" method="POST">
    
    
    <li>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"/>
    </li>
    <li>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />
    </li>
    <button type="submit" id="submit">Log In</button>
</form>
</ul>

